<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>yoapp</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width initial-scale=1 maximum-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="shortcut icon" href="/favicon.ico">
		<title>{{ title }}</title>
		<link rel='stylesheet' href='stylesheets/style.css'/>
		<link href='http://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
		<script src="bower_components/modernizr/modernizr.js"></script>
	</head>
		<body>
        <div class="userCtrls menuOptions">
            <ul>
                <li>notifications</li>
                <li class="expandableLi">about
                    <div class="hiddenText">
                        find me
                        <div class="row">
                            <div class="col-sm-4"><i class="fa fa-github-alt"></i></div>
                            <div class="col-sm-4"><i class="fa fa-linkedin"></i></div>
                            <div class="col-sm-4"><i class="fa fa-globe"></i></div>
                        </div>
                        <br>
                        <br>
                        built with
                        <ul>
                            <li>yeoman</li>
                            <li>bower</li>
                            <li>grunt</li>
                            <li>bootstrap</li>
                            <li>fontawesome</li>
                            <li>fishbone.js</li>
                            <li>handlebars.js</li>
                            <li>sass</li>
                            <li>chart.js</li>
                            <li>socket.io</li>
                            <li>express 4</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
		<div class="row app">
            <div class="curtain">
                <div class="curtainMessageWrapper">
                    <div class="curtainMessage">
                        hello
                        <div>
                            <i class="fa fa-angle-down"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 chatstream">
                <div class="wrapper" id="titleBar">
                    <button type="button" role="button" aria-label="Toggle Navigation" class="lines-button x">
                      <span class="lines"></span>
                    </button>
                    <h3>{{title}}</h3>
                    <div class="userWrapper">
                        <canvas id="connectedUsers" width="45" height="45"></canvas>
                        <div id="userCount">&nbsp;</div>
                    </div>
                </div>
                <div class="messages">
                    <ul>
                    </ul>
                </div>
                <div id="typingStatus">
                    <span></span>&nbsp; is typing
                </div>
                <div class="taWrapper">
                    <i class="fa fa-angle-right" id="textareaAngle"></i>
                    <textarea name="cathy" id="chatbox" maxlength="2" cols="30" rows="1" placeholder="enter initials to begin"></textarea>
                    <div id="editor"></div>
                    <i class="fa fa-check" id="inputCheck"></i>
                    <button class="invisi-button" id="chatSubmit"><i class="fa fa-paper-plane-o"></i></button>
                </div>
            </div>
        </div>
        <div class="userCtrls userMgmt">
            <ul>
            </ul>
        </div>

		<!-- build:js scripts.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <!-- build:js scripts/plugins.js -->
        <script src="bower_components/fishbone.js/fishbone.js"></script>
        <script src="bower_components/handlebars/handlebars.js"></script>
        <script src="bower_components/socket.io-client/socket.io.js"></script>
        <script src="bower_components/chartjs/Chart.js"></script>
        <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
        <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
        <!-- endbuild -->

        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script>
            window.onload=function(){
                if(window.Model){
                    //alert('fishbone has loaded');
                    $.getScript("/javascripts/app.js");
                }
            };
        </script>
        <!-- endbuild -->
	</body>
</html>